.paragraph {
	font-size: 1.2rem;
}

@media only screen and (min-width: 500px) {
.paragraph {
		font-size: 1.5rem;
	}
}
@media only screen and (min-width: 770px) {
.paragraph {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1449px) {
.paragraph {
		font-size: 2.5rem;
	}
}
